Flow Task/flows/Opportunity_Create_Order_Product_When_OppStageName_CloseWon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Value_to_variable</name>
        <label>Assign Value to variable</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AssignValueToSingleVariable.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_all_opportunity_product.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignValueToSingleVariable.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_all_opportunity_product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignValueToSingleVariable.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_all_opportunity_product.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignValueToSingleVariable.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_all_opportunity_product.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignValueToSingleVariable.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_all_opportunity_product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignValueToSingleVariable.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_all_opportunity_product.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignValueToSingleVariable.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order_of_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Opp_Product_Value_In_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Opp_Product_Value_In_List</name>
        <label>Collect All Opp Product Value In List</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>CollectAllOpportunityProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignValueToSingleVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_all_opportunity_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Atleast_One_Syncing_On_Opportunity_or_not</name>
        <label>Check Atleast One Syncing On Opportunity or not ?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreSyncingQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_of_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity : Create Order Product When OppStageName__CloseWon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : Create Order Product When OppStageName__CloseWon</label>
    <loops>
        <name>Loop_On_all_opportunity_product</name>
        <label>Loop On all opportunity product</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_All_Opportunity_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_of_Opportunity</name>
        <label>Create Order of Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_All_Opportunity_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Product</name>
        <label>Create Order Product</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputReference>CollectAllOpportunityProduct</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Opportunity_Product</name>
        <label>Get All Opportunity Product</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_all_opportunity_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Syncing Quote Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Atleast_One_Syncing_On_Opportunity_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>StoreSyncingQuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignValueToSingleVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>CollectAllOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>StoreSyncingQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
